

# IntelliJ project files
.idea
*.iml
out
gen

# Node Mods
/node_modules/

# Environment secrets ;)
/server/config/environment/production.ts
/server/config/environment/development.ts
/server/config/environment/shared.ts



# Javascript files
*.js

# Map files
*.map

# Log files
*.log
